<div class="container">
    <h1 class="title">PLEASE RATE US!</h1>
    <div class="rtGenCont">
        <div class="rtCot">
            <app-rating [IdR]="'gameplay'" [title]="'1.-Gameplay'"></app-rating>
        </div>
        <div class="rtCot">
            <app-rating [IdR]="'desing'" [title]="'2.-Desing'"></app-rating>
        </div>
        <div class="rtCot">
            <app-rating [IdR]="'idk'" [title]="'3.-idk'"></app-rating>
        </div>
    </div>
    <div class="btnCont">

        <button id="voting" class="btn">Send rating :)</button>
    </div>
</div>
<div class="footer"></div>