.container {
    display: flex;
    flex-direction: column;
    // height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title {
    text-align: center;
}

.rtGenCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.rtCot {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.footer {
    height: 25vh;
    max-height: 400px;
    background-image: url('https://i.imgur.com/Xd57uUl.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}