<section class="back" id="story">
    <div class="mainCont">
        <h1 class="header">
            STORY
        </h1>
        <br>
        <p class="storyTxt">
            Lety wants to grow as big as the reptiles that inhabit the jungle, so big that she can devour anything without problems. Lety is a small animal with great desires to be a reptile. Her desires are as big as the animals that live nearby and used to be a
            threat to the little animal; however, now she will eat until she becomes the threat.
    </div>
</section>