<div class="nav">
    <div class="navCont imgCont">
        <img class="img" src="https://i.imgur.com/P3LcpCd.png" alt="">
    </div>
    <div class="navCont">
        <button class="btn menu1" (click)="goTo('story')">
          <h4>
            HOME
          </h4>
        </button>
    </div>
    <div class="navCont">
        <button class="btn menu1" (click)="goTo('download')">
          <h4>
            DOWNLOAD
          </h4>
        </button>
    </div>
    <div class="navCont">
        <button class="btn menu1" (click)="goTo('voting')">
          <h4>
            VOTE  
          </h4>
      </button>
    </div>
    <div class="navCont">
        <button class="btn menu1" (click)="goTo('about')">
          <h4>
            ABOUT US
          </h4>
        </button>
    </div>

</div>