<h1 class="header">DEVELOPMENT TEAM</h1>
<div class="genCont">
    <div class="third">
        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle" src="https://th.bing.com/th/id/OIP.Sr2EBj_3T66cYnOU2WcnQwHaQB?pid=ImgDet&rs=1" />
                    <img class="img img1" src="https://i.imgur.com/No2UUUr.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Edgar Rivas</div>
            <div class="title">Front developer</div>
            <div class="title">Design assistant</div>
        </div>
    </div>
    <div class="third">


        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle" src="https://images.pexels.com/photos/1134166/pexels-photo-1134166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img class="img gab" src="https://i.imgur.com/viQEY1k.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Gabriela Rojas</div>
            <div class="title">Project Manager</div>
            <div class="title">Full developer</div>
        </div>
    </div>
    <div class="third">
        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle" src="https://th.bing.com/th/id/OIP.GaM85YYK9QLhsOrQTIBj4AHaLH?pid=ImgDet&rs=1" />
                    <img class="img mich" src="https://i.imgur.com/nxHNjVn.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Michell Sosa</div>
            <div class="title">Design manager</div>
            <div class="title">Documenter</div>
        </div>
    </div>
</div>