<section class="back" id="gameplay">
    <div class="mainCont">
        <h1 class="header">
            GAMEPLAY
        </h1>
        <br>
        <p class="storyTxt">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qued ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qua
        </p>
    </div>
    <div class="secondCont">
        <div class="firstImg">
            <img class="img" src="https://i.ytimg.com/vi/xvrChKwQjDU/maxresdefault.jpg" alt="">
        </div>
        <div class="secondImg">
            <img class="img" src="https://i.ytimg.com/vi/QjuHYO25AF0/maxresdefault.jpg" alt="">
        </div>
    </div>
</section>