.back {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #05090d;
    // background-image: url('https://i.ytimg.com/vi/xvrChKwQjDU/maxresdefault.jpg');
    // background-image: url('https://i.ytimg.com/vi/QjuHYO25AF0/maxresdefault.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55%;
    position: relative;
    padding: 7vw;
    display: flex;
}

.mainCont {
    width: 50%;
}

.secondCont {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.header {
    font-family: 'arial';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.storyTxt {
    font-size: 20px;
    margin: 0;
    word-spacing: 2px;
    line-height: 2.5rem;
}

.firstImg,
.secondImg {
    width: 90%;
    position: absolute;
}

.firstImg {
    top: 0%;
    left: 0px;
}

.secondImg {
    top: 30%;
    right: -10%;
}

.img {
    width: 100%;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.496);
    border-radius: 7px;
    // position: absolute;
}

//#region media
@media only screen and (max-width: 1247px) {
    .secondImg {
        top: 20%;
    }
}

@media only screen and (max-width: 777px) {
    .firstImg {
        top: 20%;
        left: 0px;
    }

    .secondImg {
        top: 35%;
    }
}

@media only screen and (max-width:602px) {

    .firstImg,
    .secondImg {
        width: 90%;
        position: initial;
    }

    .firstImg {
        margin-top: -30px;
    }

    .secondImg {
        margin-top: 30px;
    }

    .secondCont {
        flex-direction: column;
    }

    .header {
        font-size: 40px;
    }
}

@media only screen and (max-width: 445px) {
    .back {
        display: block;
    }

    .mainCont,
    .secondCont {
        width: 100%;
    }

    .firstImg,
    .secondImg {
        position: initial;
        margin: 0;
        margin: 20px 0
    }

    .back {
        width: 100vw;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 247px) {
    .header {
        font-size: 30px;
    }
}

//#endregion