<section class="back" id="gameplay">
    <div class="mainCont">
        <h1 class="header">
            GAMEPLAY
        </h1>
        <br>
        <p class="storyTxt">
            The game follows the journey of a snake who is on a mission to eat everything in its path. The player takes on the role of the snake and must guide it through various levels, each with its own unique challenges and obstacles. In order to progress through
            the levels, the snake must consume various objects such as apples, lizards, fungi, and rats. Each object that the snake consumes will cause it to grow longer, and increase its score. As the player progresses through the levels, the challenges
            will become increasingly difficult. The obstacles will become more complex and harder to avoid, including time, speed, and punctuation. The player must use their wits and quick reflexes to outsmart the game and clear each level. Overall, the
            game is a test of skill, strategy, and speed. Can you guide the snake to victory and become the ultimate champion? Play now and find out! The first level is available for free. </p>
    </div>
    <div class="secondCont">
        <div class="firstImg">
            <img class="img" src="https://i.imgur.com/8IZisj5.jpg" alt="">
        </div>
        <div class="secondImg">
            <img class="img" src="https://i.imgur.com/PPNUu74.jpg" alt="">
        </div>
    </div>
</section>