<section class="back" id="">
    <div class="mainCont">
        <h1 class="header">
            ABOUT US
        </h1>
        <br>
        <p class="storyTxt">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qued ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qua
        </p>
    </div>
</section>