<section class="back" id="">
    <div class="mainCont">
        <h1 class="header">
            ABOUT US
        </h1>
        <br>
        <p class="storyTxt">
            We are a small team of developers always willing to learn and push the limits we thought we had. We specialize in web development, however, this is one of the most exciting and challenging pieces of work we could take on. We were presented with problems
            both individually and as a group during the development of the project that today we present with pleasure and pride. However, we learned that the most important part of teamwork is to understand, listen, suggest, accept and know how to move
            forward with maturity and insight to provide the best part of ourselves.
        </p>
    </div>
</section>