<section class="back" id="download">
    <!-- <div class="snakeCont">

        <img class="snake" [src]="imgSrc" alt="">
    </div> -->
    <div class="mainCont">
        <button title="Click to download game!!" class="snakeBtn">
            <div class="filT">
                DOWNLOAD GAME
            </div>
        </button>
        <br>
        <br>
        <br>
        <br>
        <p class="txtCont">
            Are you ready for a challenge? Our game, Letty the Snake, will put your skills to the test. As Letty, you must navigate through various levels and obstacles to eat everything in your path. Each object you consume will make you grow longer and increase
            your score. But watch out! The challenges will get more difficult as you progress, and you'll need to use your quick reflexes and strategic thinking to outsmart the game. Can you guide Letty to victory and become the ultimate champion? Download
            Letty the Snake now and find out! The first level is available for free.
        </p>
    </div>
</section>