.back {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #05090d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.snake {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    max-height: 120px;
}

.snakeBtn {
    cursor: pointer;
    background-image: url('https://media.istockphoto.com/photos/snake-or-dragon-green-skin-with-scales-fantasy-texture-3d-rendered-picture-id1300416365?k=20&m=1300416365&s=612x612&w=0&h=D12J0O2-RewohDEZHop0ypruVg_Ok8y9ZN03y6KfO-A=');
    // background-image: url('https://th.bing.com/th/id/OIP.PbuJxOzecEQ6MvwNHMAguwEzDL?pid=ImgDet&rs=1');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    box-sizing: border-box;
    font-size: 3rem;
    color: white;
    border-radius: 7px;
    transition: all ease .15s;
    border: 1px solid #dedede;
    outline: none;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0);
    padding: 0;
    overflow: hidden;
    text-shadow: 0 0 3px black;
    animation: shyne infinite 3s ease;
}

.snakeBtn:hover {
    filter: brightness(1.2);
    scale: 1.02;
}

.snakeBtn:active {
    scale: .99 !important;
}

.filT {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    // backdrop-filter: blur(5px) brightness(.9);
}

.txtCont {
    width: 70vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    margin: 0;
    word-spacing: 2px;
    line-height: 2.5rem;
    min-width: 400px;
}

@media only screen and (max-width:938px) {
    .snakeBtn {
        font-size: 30px;
        font-weight: 800;
    }
}

@media only screen and (max-width:670px) {
    .snakeBtn {
        font-size: 25px;
        width: 70%;
    }

    .txtCont {
        width: 90vw;
        min-width: inherit;
        text-align: justify;
    }
}

@media only screen and (max-width:534px) {
    .snakeBtn {
        font-size: 17px;
    }
}

@media only screen and (max-width:420px) {
    .snakeBtn {
        font-size: 17px;
    }

    .snake {
        max-height: 70px;
        position: initial;
    }

    .snakeCont {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: right;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:277px) {
    .snakeBtn {
        font-size: 12px;
    }
}

@keyframes shyne {
    from {
        box-shadow: 0 0 4px 0px rgba(48, 255, 189, 0.552);
    }

    50% {
        box-shadow: 0 0 4px 8px rgba(48, 255, 189, 0.552);
    }

    to {
        box-shadow: 0 0 4px 0px rgba(48, 255, 189, 0.552);
    }
}