<section class="back" id="download">
    <div class="snakeCont">

        <img class="snake" [src]="imgSrc" alt="">
    </div>
    <div class="mainCont">
        <button title="Click to download game!!" class="snakeBtn">
            <div class="filT">
                DOWNLOAD GAME
            </div>
        </button>
        <br>
        <br>
        <br>
        <br>
        <p class="txtCont">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, voluptatibus eaque? Aperiam doloribus quis voluptates porro mollitia, quasi dignissimos voluptate magni obcaecati doloremque, facilis inventore architecto? Dolorem expedita laboriosam ex?
        </p>
    </div>
</section>