.back {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #05090d;
    position: relative;
    display: flex;
}

.mainCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.snakeBtn {
    cursor: pointer;
    // background-image: url('https://i.imgur.com/2DYPPZi.jpg');
    background-image: url('https://media.istockphoto.com/photos/snake-or-dragon-green-skin-with-scales-fantasy-texture-3d-rendered-picture-id1300416365?k=20&m=1300416365&s=612x612&w=0&h=D12J0O2-RewohDEZHop0ypruVg_Ok8y9ZN03y6KfO-A=');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    box-sizing: border-box;
    font-size: 3rem;
    color: white;
    border-radius: 7px;
    transition: all ease .15s;
    border: 1px solid #dedede;
    outline: none;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0);
    padding: 0;
    overflow: hidden;
}

.snakeBtn:hover {
    filter: brightness(1.2);
    scale: 1.02;
}

.snakeBtn:active {
    scale: .99 !important;
}

.filT {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    backdrop-filter: blur(5px) brightness(.9);
}