* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 12px;
    padding: 5px;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background: #292935;
}

::-webkit-scrollbar-thumb {
    background: #5b5967;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5b5967;
}

.txtArea {
    width: 85%;
    min-width: 70%;
    max-width: 85%;
    height: 100px;
    min-height: 80px;
    max-height: 120px;
    border-radius: 10px;
    text-align: justify;
    outline: none;
    padding: 9px;
    transition: all .3s ease;
    background-color: rgb(69 69 152 / 11%);
    border: 2px solid #272e38;
}

.txtArea:focus {
    background-color: white;
    box-shadow: 0px 0px 2px 5px rgba(161, 161, 231, 0.749);
    color: #272e38;
}

@media only screen and (max-width:211px) {
    * {
        font-size: 12px !important;
    }
}