.mainBody {
  background-color: rgb(39, 39, 46);
  height: 100Vh;
  width: 100vw;
  background-image: url(https://i.imgur.com/uZRnJjX.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all ease 1s;
}

.cont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(6px) brightness(.90);
}

.titulo {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 75px;
  color: #FDFEBA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subT {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-size: 3rem;
}

.btn {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  font-family: 'Ek Mukta';
  font-style: normal;
  font-size: 1.5rem;
  color: #FFFFFF;
  transition: all ease .2s;
  background-color: #9ABAE0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 3px 2px rgba(25, 24, 47, 0.336);
  cursor: pointer;
}

.btn:active {
  scale: .95 !important;
  filter: brightness(.7);
}

.btn:hover {
  scale: 1.05;
  background-color: #F37510;
}

@media only screen and (max-width: 757px) {
  .titulo {
    text-align: center;
  }
}

@media only screen and (max-width:499px) {
  .titulo {
    font-size: 40px !important;
    line-height: normal;
  }

  .subT {
    font-size: 30px;
    text-align: center;
  }

  .btn {
    width: 90%;
    font-size: 20px;
    height: 40px
  }
}

@media only screen and (max-width:382px) {
  .titulo {
    font-size: 30px !important;
    line-height: normal;
  }

  .subT {
    font-size: 25px;
  }
}

@media only screen and (max-width:257px) {
  .titulo {
    font-size: 25px !important;
    line-height: normal;
  }

  .subT {
    font-size: 20px;
  }
}