.mainBody {
  background-color: white;
  height: 100Vh;
  width: 100vw;
  //background feo 
  // background-image: url(https://i.imgur.com/BvPEi5a.jpg);
  //background Bonito
  background-image: url(https://i.imgur.com/uZRnJjX.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(5px) brightness(.95);
}

.titulo {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 75px;
  color: #FDFEBA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}